.user-center-page-wrapper {
  display: grid;
  color: black;
  margin: 10px 0 40px 0;
  font-family: 微軟正黑體;
  grid-template-columns: 20% auto;
  .user-sidebar {
    text-align: center;
    position: relative;
    padding: 15px;
    border-right: 2px solid #ccc;
    margin-right: 1vw;
    .sidebar-title {
      font-size: 24px;
      font-weight: bold;
      margin: 20px;
    }

    ul {
      list-style: none;
      margin-top: 30px;

      .nav-button {
        font-family: 微軟正黑體;
        font-size: 18px;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.1s;
      }
      .nav-button:hover {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .user-right {
    padding: 15px;
  }
}
@media screen and (max-width: 1260px) {
  .user-center-page-wrapper {
    grid-template-columns: 25% auto;
    .user-sidebar {
      .sidebar-title {
        margin: 0px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .user-center-page-wrapper {
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 150px auto;

    .user-sidebar {
      width: auto;
      border-right: 0px solid #ccc;
      margin: 0;
      border-bottom: 2px solid #ccc;
      .sidebar-title {
        font-size: 24px;
        font-weight: bold;
      }
      .center-line {
        display: none;
      }
      ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .nav-button {
          font-size: 20px;
          margin: 0;
        }
      }
    }
    .user-right {
      margin-top: 20px;
      display: block;
      width: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .user-center-page-wrapper {
    .user-sidebar {
      width: auto;
    }
    .user-right {
      width: auto;
    }
  }
}
