.quan {
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  cursor: pointer;
  position: relative;
  li {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
  }
  
}

.text {
  width: 35px;
  height: 35px;
  text-align: center;
}
.content-wrap-ul-ls {
  padding: 60px;
  grid-template-columns: 1fr;
  list-style: none;
}
.content-wrap-ul {
  background-color: transparent !important;
}
