$midnight: #1178b8;
$clouds: #ecf0f1;

.faq-title-box {
    width: 90%;
    height: 3.5rem;
    background: $midnight;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;

    .faq-title {
        width: 100%;
        // height: 48px;
        padding-left: 10px;
        color: #fff;
    }
    svg {
        font-size: 2rem;
        padding-right: 8px;
        display: inline-block;
        color: #fff;
    }
    &:hover {
        background: darken($midnight, 10%);
        cursor: pointer;
    }
}
.faq-body-box {
    width: 90%;
    line-height: 2rem;
    // max-height: 15rem;
    margin-bottom: 5px;
    .faq-body {
        width: 100%;
        color: #000;
        word-break: break-all;
        background: rgb(127, 227, 250);
        border-radius: 0 0 3px 3px;
        padding: 12px;
    }
}
